@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


:root {
  --diabled: #e0e0e0;
  --active: #3498db;

}

* {
  box-sizing: border-box;
  /* always do it!*/
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  /*the grey line*/
  content: '';
  background-color: var(--diabled);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /*to place the line right in the middle of the numbers*/
  height: 4px;
  width: 95%;
  z-index: -1;
}

.progress {
  background-color: var(--active);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /*to place the line right in the middle of the numbers*/
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: .4s ease;
  /*to smoothly transition the line*/
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--diabled);
  ;
  transition: .4s ease;
}

.circle.active {
  border-color: var(--active);
}

.btn {
  background-color: var(--active);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #257fbb;
}

.btn:disabled {
  background-color: var(--diabled);
  cursor: not-allowed;
}