@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  margin: 0;
  background-color: #faf0e6;
  color: #5c5c5c;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  font-size: 40px;
}

.other-box,
.box {
  background-color: #489A6C;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 400px;
  margin: 10px;
box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
transform: translateX(400%);
transition: transform 0.4s ease;
}


.other-box:nth-of-type(even),
.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.other-box.show,
.box.show {
  transform: translateX(0);
}

.box a {
  font-size: 30px;
}

.box:hover {
  cursor: pointer;
}

